.jumbotron {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 0;
}

#head_image {
  max-height: 200px;
}

.navbar {
  margin-left: -15px;
  margin-right: -15px;
}

.vis {
  height: 600px;
}