body {
  background-image: url("images/body_bg.jpg");
}

#shell {
  background-color: white;
}

.jumbotron {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

#head_image {
  max-height: 200px;
}

.vis {
  padding-top: 60px;
  margin-top: 10px;
}

.charts {
  height: 400px;
}